.pokemon-card {
  background: linear-gradient(var(--color_yellow), #ffe1c6);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  position: relative;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 4rem;
  z-index: 1;
  cursor: pointer;
}

.pokemon-card img {
  position: absolute;
  width: 20vh;
  height: auto;
  top: -70%;
}

.pokemon-card p {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
