.pokemon-card {
  background: #ffcd4d;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

.pokemon-card img {
  width: 80%;
  max-width: 120px;
  height: auto;
}

.pokemon-card h2 {
  margin: 8px 0;
  font-size: 2rem;
  font-weight: bold;
}
