.home {
  padding-top: 15vh;
}

.loading-p {
  font-size: 1.5rem;
  color: var(--color_yellow);
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}

@media screen and (max-width: 768px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
  }
}

@media screen and (max-width: 460px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
