.type-container {
  position: fixed; /* Fixiert das Menü über dem gesamten Viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--background-color);
  padding: 2rem 10vw 4rem 10vw;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.type-container.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.type-container .type-top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.type-container .type-top-section .close-button {
  width: 30px;
  height: fit-content;
  cursor: pointer;
  margin-top: auto;
}

/* * Überschrift "Select Your Pokemon-Type" */
.type-container h2 {
  position: relative;
}

.type-container h3 {
  margin: 5vh auto 15vh auto;
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  font-variant: small-caps;
  font-weight: 800;
  letter-spacing: 4px;
  position: relative;
}

/* * Box mit allen Pokemon-Types */
.type-container .btn-pokemons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10vh auto;
  padding: 2rem;
}

/* * Einzelner Pokemon-Type-Button */
.type-container .btn-pokemons .btn-pokemon {
  width: 100%;
  max-width: 30rem;
  padding: 20px 40px;
  outline: none;
  border: 1px solid var(--color_blue);
  border-radius: 20px;
  text-align: center;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  color: var(--color_white);
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  transition: var(--transition);
}

/*.type-container .btn-pokemons:hover .btn-pokemon:not(:hover) {
	opacity: 0.5;
}*/

.type-container .btn-pokemons .btn-pokemon:hover {
  opacity: 0.5;
}

/* * Media-Queries */
@media screen and (max-width: 1024px) {
  .type-container {
    height: calc(100vh + 4rem);
    padding: 2rem 10px 4rem 10px;
  }

  .type-container .type-top-section {
    padding: 0 10px;
  }

  .type-container .btn-pokemons {
    width: 100%;
    min-height: 100dvh;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 10vh 0;
    gap: 10px;
  }

  .type-container .btn-pokemons .btn-pokemon {
    margin: 0 auto;
  }
}
