header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 4rem;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease-in-out;
  z-index: 2;
}

header.scrolled {
  box-shadow: 0 0 14px var(--color_black);
}

header .dark-light-mode,
header .burger-menu {
  width: 30px;
  height: fit-content;
  cursor: pointer;
  z-index: 10;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 20px;
  opacity: 1;
  transition: opacity var(--transition), display var(--transition);
}

header .logo-input-box {
  width: 100%;
  background-color: var(--background-color);
}

header .header-input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2vw;
}

header .header-input-section .btn-search {
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color_fire);
  color: var(--color_black);
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

header .header-input-section .btn-search:hover {
  color: var(--color_white);
  box-shadow: 0 0 2px var(--color_black);
}

header .header-input-section .input-search {
  width: 25rem;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--color_lightgrey);
  padding: 10px 20px;
  border: none;
  outline: none;
}

/* * Media-Queries */
@media screen and (max-width: 768px) {
  header {
    padding: 4rem 10px;
  }

  header .dark-light-mode,
  header .burger-menu {
    position: absolute;
    top: 2rem;
  }

  .logo-input-box {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
  }

  header .dark-light-mode {
    left: 1rem;
  }

  header .burger-menu {
    right: 1rem;
  }

  header .logo {
    width: 50%;
    margin: 0 auto;
  }

  .logo-input-box {
    width: 100%;
  }

  header .header-input-section {
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
    gap: 1rem;
  }

  header .header-input-section .input-search {
    flex-grow: 1;
  }
}

@media screen and (max-width: 420px) {
  header .logo-input-box form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  header .header-input-section {
    display: flex;
    flex-direction: column;
  }

  header .header-input-section > * {
    width: 100%;
  }
}
