.detail {
  text-align: center;
  height: calc(100dvh - 300px);
  padding-top: 15vh;
}

.pokemon-view {
  background: linear-gradient(var(--color_yellow), #ffe1c6);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  position: relative;
  height: 18vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 2rem;
}

.pokemon-view img {
  position: absolute;
  width: 30vh;
  height: auto;
  top: -70%;
}

.detail h2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 2.25rem;
  border-radius: 0 0 20px 20px;
}

.detail > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto 3rem auto;
}

.height-and-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.height-and-weight h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.height-and-weight p {
  font-size: 1.25rem;
  font-weight: bold;
}

.detail ul .type-btn {
  width: 18rem;
  padding: 20px 40px;
  outline: none;
  border-radius: 20px;
  text-align: center;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  color: var(--color_white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: var(--transition);
  border: 2px solid var(--color);
}

@media screen and (max-width: 768px) {
  .pokemon-view {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .pokemon-view,
  .detail ul .type-btn {
    width: 100%;
  }

  .detail h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .detail h2 span {
    display: block;
    width: 100%;
  }
}

.back-btn-container {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.back-btn span {
  font-size: 2rem;
  font-weight: normal;
}
